@media only screen and (max-width: 750px){
    .logotipo{
        width: 40%;
        padding: 10px;
    }

    .left{
        position: absolute;
        top: 15px;
        right: 0px;
        font-size: 10px;
    }
    
    .left_sessao{
        position: absolute;
        top: 25px;
        right: 16px;
        font-size: 18px;
    }

    h1{
        background-color: #210070;
        border: 2px solid #210070;
        border-radius: 12px;
        color: white;
        text-align: center;
        background-color: #210070;
        padding: 5px;
        font-size: 10px;
    }

    h2{
        text-shadow: 2px 2px 5px #213970;
        font-size: 15px;
    }

    .btn_re, .btn_sair{
        background-color: #210070;
        border: none;
        color: white;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 6px;
        text-align: center;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        width: 40%;
    }

    .botao_login{
        border: 2px solid #213970;
        border-radius: 12px;
        color: white;
        padding: 8px 16px;
        text-align: center;
        font-size: 8px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white; 
        color: black; 
        border: 2px solid #213970;
        width: 40%;
        text-align: center;
    }

    .btn_sair{
        width: 50%;
        background-color: #210070;
        border: none;
        color: white;
        padding: 10px 26px;
        text-align: center;
        text-decoration: none;
        font-size: 8px;
        cursor: pointer;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        width: 30%;
    }

    #pesquisar{
        margin-top: 10px;
        width: 140px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 2px 10px 2px 30px;
        transition: width 0.4s ease-in-out;
    }

    .btn_pesquisar{
        width: 24px;
        height: 23px;
    }

    .coluna img{
        width: 100%;
    }

    h3{
        font-size: 5px;
    }

    .center{
        width: 90%;
        margin-right: 100px;
        
    }

    /*Barra de navegação*/

    .bar_menu{
        margin-top: 15px;
    }
    
    ul {
        list-style-type: none;
        overflow: hidden;
        background-color: #210070;
    }
      
    li {
        float: left;
        border-right:1px solid white;
        border-bottom:1px solid white;
        width: 49.5%;
    }
      
    li a {
        display: block;
        color: white;
        text-align: center;
        font-size: 8px;
        text-decoration: none;
    }
      
    li a:hover {
        border: #213970;
        background-color: #213970;
        
    }
    
    .titulo_paginas{
        padding: 20px;
        text-align: center;
    }

    .conteudo{
        top: 30%;
        width: 64%;
        height: auto;
        padding: 40px;
        margin-left: 20px;
        margin-right: 20px;
        background-color: gray;
    }

    #sem_publi{
        color: white;
        margin-top: 10%;
        font-size: 8px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    /*Editar e fechar Publi*/

    #editar_publi{
        margin-left: 60%;
        position: absolute;
        cursor: pointer;
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
    #deletar_publi{
        margin-left: 67.5%;
        text-decoration: none;
        color: red;
        position: absolute;
        cursor: pointer;
    }

    /*Acaba*/

    /*Parte do Login*/
    .log{
        background-color: white;
        width: 78%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 30px;
        margin-top: 10vh;
        border-radius: 10px;
        text-align: center;
    }

    .logotipo_login{
        width: 200%;
    }

    /*Parte da janela modal de publicação*/

    .Modal{
        font-family: sans-serif;
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        animation: animate;
        animation-duration: 800ms;
    }

    .modal_form{
        width: 70%;
        margin-left: 15%;
        background-color: white;
        margin-top: 20%;
    }

    .titulo_modal{
        font-size: 100%;
        text-align: center;
    }

    @keyframes animate {
        from{opacity: 1;}
        from{opacity: 0;}

    }

    .btn_fechar{
        width: 25px;
        height: 25px;
        background-color: white;
        justify-content: center;
        text-align: center;
        color: black;
        border-radius: 50%;
        float: right;
        cursor: pointer;
    }

    #label_modal{
        width: 100%;
        padding: 12px 12px 12px 0;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        border: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: black;
        color: white;
    }

    #h2_modal{
        background-color: white;
        width: 60%;
        margin-left: 20%;
        margin-bottom: 100px;
    }

    #input_modal{
        width: 100%;
        margin-left: 5%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    #simbolos{
        text-align: center;
        margin-top: 14px;
        font-size: 20px;
        margin-left: 15px;
    }

    .botao_cancelar{
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 7px;
        border: none;
        height: 40px;
        border-radius: 20px;
        margin-top: 30px;
        color: white;
        background-color: black;
        cursor: pointer;
    }

    .botao_cadastrar{
        text-align: center;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 7px;
        border: none;
        height: 40px;
        border-radius: 20px;
        margin-top: 30px;
        color: white;
        background-color: black;
        cursor: pointer;
            
    }
}